.crew {
  flex-wrap: wrap;
  align-content: space-between;

  &-content {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    order: 3;

    &.active {
      transition: opacity 0.3s linear;
      opacity: 1;
    }

    &-image {
      width: 100%;
      max-width: 320px;
      position: relative;

      img {
        object-fit: contain;
      }
    }

    &-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      h3 {
        font-size: 2.75rem;
        font-family: var(--font-serif);
        font-weight: var(--font-weight-normal);
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 2rem;
      }

      h2 {
        font-size: 2.15rem;
        margin-block: 0;
        line-height: 1.5;
        letter-spacing: 4.75px;
        font-weight: 400;
        color: var(--color);
        opacity: 0.7;
        font-family: var(--font-serif);
        text-transform: uppercase;
      }

      p {
        order: 3;
        font-size: 1.125rem;
        line-height: 2;
        color: var(--color-gray);
        font-family: var(--font-sans-normal);
        margin-bottom: 3rem;
      }
    }
  }

  &-actions {
    display: flex;
    order: 2;
    gap: 1rem;
    width: 100%;
    padding-block: 1rem;
    justify-content: center;

    button {
      width: 20px;
      height: 20px;
      display: block;
      background-color: var(--color);
      border-radius: 100%;

      &:hover,
      &.active {
        background-color: var(--color-gray);
      }
    }
  }

  @media (min-width: 768px) {
    align-content: center;

    &-content {
      justify-content: space-between;

      &-info {
        width: 40%;
        text-align: left;
        align-self: center;
        align-items: flex-start;
      }

      &-image {
        width: 50%;
        max-width: none;
        height: 680px;
      }
    }

    &-actions {
      order: 3;
      width: 50%;
      padding-block: 0;
      justify-content: flex-start;
    }
  }
}
