:root {
  --font-serif: "Bellefair", serif;
  --font-sans-cond: "Barlow Condensed", sans-serif;
  --font-sans-normal: "Barlow", sans-serif;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-weight-bold: 600;
  --font-size: 16px;
  --line-height: 1.5;
  --color: hsl(0deg 0% 98%);
  --color-gray: hsl(231deg 77% 90%);
  --color-dark: hsl(230deg 35% 7%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-sans-normal);
  font-size: 13px;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  color: var(--color);

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

.tabs {
  display: flex;
}
